<div class="note">
  <table>
	<tr class="update">
  		<td>Note title: <%= @note.title %></td>
  		<td><a href="/delete/<%=@note.id%>">Delete this note</td>
      <td><a href="/update/<%= @note.id%>">Update Note</a></td>
	</tr>
	<tr>
  		<td>Note content: <%= @note.content %></td>
	</tr>
	</table>
</div>



